# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
dist/
build/
*.egg-info/
.eggs/

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Frontend
node_modules/
dist/
build/
.next/
out/
.nuxt/
.vercel/

# Logs
logs/
*.log

# Personal Data / Config
*.sqlite3
db.sqlite3
